* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  font-weight: 300;
}
main {
  overflow: hidden;
}
.site-header {
  height: 90px;
  background-color: #ffffff;
}
.inner-logo img {
  max-width: 115px;
}
.site-sec {
  min-height: 839px;
  position: relative;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.video {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.video video {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  position: absolute;
}
.overlay {
  background-color: #000000;
  opacity: 0.5;
  height: 100%;
  z-index: -1;

  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.elementor-widget-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 555;
  display: flex;
  justify-content: center;
  align-items: center;
}
.elementor-heading-title {
  color: #ffffff;
  font-family: "Roboto", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 7.5px;
}
.elementor-column {
  min-height: 600px;
  display: flex;
  align-items: center;
}
.elementor-heading {
  margin-bottom: 20px;
}

.sec-1-sm-wraper {
  padding-bottom: 30px;
}
.elementor-heading h2 {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  line-height: 1;
}
.elementor-button-link {
  display: inline-block;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  background-color: #000000;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 22px 10px 22px;
  color: #fff;
}
.elementor-side-img img {
  width: 100%;
}
.elementor-widget {
  margin-bottom: 20px;
}
.elementor-widget h3 {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.5;
}
.elementor-3 {
  background-color: #f7f7f7;
  padding: 20px 20px 20px 20px;
}
.text-w {
  color: #ffffff !important;
}


.text-b {
  color: #000 !important;
}
.elementor-image {
  margin-bottom: 10px;
}
.elementor-image img {
  width: 30%;
}
.elementor-image-box-wrapper {
  padding: 13px;
  width: 24%;
}
.elementor-box-content {
}
.elementor-image-box-title {
  color: #454545;
  font-family: "Roboto", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.elementor-image-box-description {
  color: #454545;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.elementor-4 {
  background-color: #ffffff;

  padding: 20px 0;
}
.elementor-widget-wrap {
  padding: 10px 0;
}
.elementor-widget-wrap h2 {
  color: #333333;
  font-family: "Roboto", Sans-serif;
  font-size: 37px;
  font-weight: 600;
}
.elementor-box-image {
  margin-bottom: 10px;
}
.elementor-box-image img {
  width: 23%;
}
.elementor-5 {
  padding: 23px 0;
  background-color: #f7f7f7;
}
.elementor-6 {
  background-color: #f7f7f7;
}
.elementor-side-img-wrap {
  text-align: center;
}
.elementor-side-img-wrap img {
  width: 71%;
}
.elementor-element-populated {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 0;
  box-shadow: -1px 2px 35px -4px rgba(0, 0, 0, 0.53);
}
.elementor-7 {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.elementor-single-img {
  text-align: center;
}
.elementor-single-img img {
  width: 41%;
}
.elementor-8 {
  background-color: #f7f7f7;
  padding: 20px 0;
}
.elementor-app {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgb(135 135 135 / 30%);

  width: 48%;
}
.elementor-app-img {
  text-align: center;
}
.elementor-app-img img {
  width: 90%;
}
.elementor-9 {
  background-color: #f7f7f7;
  padding: 20px 0;
}
.elementor-text {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 31px;
}
.elementor-10 {
  padding: 30px 0;
  background-color: #f7f7f7;
}
.elementor-divider {
  padding: 30px 0;
}
.elementor-divider span {
  border: 1px solid #000000;
  display: block;
}
.elementor-legal-img {
  width: 60%;
}
.elementor-legal-img img {
  width: 100%;
}
.elementor-11,
.elementor-12 {
  background-color: #f7f7f7;
  padding: 20px 0;
}
.elementor-legal {
  width: 48%;
}
.elementor-download-img {
  width: 42%;
}
.elementor-download-img img {
  width: 100%;
}
.elementor-13 {
  background-color: #e8e8e8;
  padding: 80px 0;
}
.elementor-company-logo img {
  height: 103px;
  width: 180px;
  object-fit: contain;
}
.elementor-14 {
  background-color: #f7f7f7;
  padding: 80px 0;
}
.col-sm-offset-1 {
  margin-left: 8.33333333%;
}
/* sidebar styleing */
.sideBar {
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
  width: 360px;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: 999999;
  padding: 1.4em 0em;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.sideBar-header {
  padding: 1.4em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.sideBar-header p {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  color: #5e5e5f;
  margin-bottom: 0;
}
.header-search_box {
  padding: 1.4em 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.search-form-fields {
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.79);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%) inset;
  border-radius: 2px;
}
.header-search-form {
  width: 80%;
}
.search-field {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  width: 100%;
  border-radius: 2px;
  height: 2.4em;
  padding: 0 0.75em;
  color: rgba(255, 255, 255, 0.79);
  outline: none;
  font-size: 16px;
}
.search-submit {
  overflow: hidden;
  box-shadow: none;
  margin-left: -40px;
  background: 0 0;
  color: #6d6d6d;
  line-height: 0;
  padding: 0 0.7em;
  min-height: auto;
  border: none;
  color: rgba(255, 255, 255, 0.79);
}
.header-social-icons {
  padding: 1.4em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: #ffffff;
}

.header-social-icons a {
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  padding: 5px 7px;
  border-radius: 90px;
  line-height: 1;
  font-size: 13px;
}
.facebook {
  background-color: #3b5998;
}
.twitter {
  background-color: #1da1f2;
}
.youtube {
  background-color: #cd201f;
}
.instagram {
  background-color: #262626;
}
.pinterest {
  background-color: #bd081c;
}
.header-button {
  padding: 1.4em 1.5em;
}
.header-button button {
  padding: 0.5407911001em 1em;
  background: #c3512f;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  outline: none;
  border: none;
}
.open {
  left: 0% !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.tab {
  color: #000000 !important;
}
.menu {
  position: absolute;
  top: 0%;
  left: 0%;
}
.cros {
  opacity: 0;
  visibility: hidden;
}
